* {
    border: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, black, grey, white, grey, black);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px groove black;
    border-radius: 0px 0px 30px 30px;
}

.nav {
    margin: auto;
    font-size: 150%;
}

.nav-1 {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    border-radius: 30px;
    padding: 10px;
    transition: 1s ease-in;
}

.nav-1:hover {
    background-image: linear-gradient(to bottom right, hotpink, cyan);
    color: black;
    border: 3px solid black;
    transition: 0.5s ease-in;
}

.navbar {
    text-align: center;
    width: 20%;
}

header h1 {
    margin: 0;
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}

.img-1 {
    border-radius: 100%;
    width: 5%;
}

.img-2 {
    border-radius: 30%;
    width: 20%;
    margin: 10px 0px 20px 0px;
}

#projects,
#about,
#skills,
#Certificates,
#resume,
#contact {
    text-align: center;
    font-size: 200%;
}

.skills-list,
.certificate,
.resumedown,
.contactdetail {
    display: inline-block;
    text-align: center;
}

.abt-para {
    text-align: justify;
    font-size: 80%;
    background-color: rgba(255, 255, 255, 0.383);
    padding: 20px;
    cursor: default;
    border-radius: 20px;
}

.certificate-img {
    width: 40%;
    border: 3px solid black;
    border-radius: 20px;
    transition: 0.5s ease-in;
}

.certificate-img:hover {
    transform: scale(1.1);
}

.skill-discrip {
    margin: 2% 0% 5% 0%;

    color: black;
    font-size: 80%;
    border-radius: 30px;
}

.li-hd {
    background-image: linear-gradient(to bottom right, grey, white, grey);
    border-radius: 40px;
    border: 2px solid black;
    width: 300px;
    display: inline-block;
}

ul {
    background-color: rgba(250, 235, 215, 0.386);
    border-radius: 20px;
}

.CRTF {
    font-size: 70%;
    background-color: rgba(255, 255, 255, 0.325);
    border-radius: 20px;
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.button2 {
    position: fixed;
    bottom: 80px;
    right: 20px;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.P-img {
    width: 30%;
    border-radius: 25px;
}

#projects {
    text-align: center;
}

.project {
    display: flex;
    justify-content: space-evenly;
}

.proj-discrip {
    font-size: 50%;
    color: #fff;
    text-align: justify;
    width: 50%;
    background-color: rgba(22, 3, 3, 0.48);
    padding: 10px;
    border-radius: 30px;
}